Edit Page For Customer Entry


<h2>Edit Customer: </h2>

<form class="" action="/customer_entries" method="post">
    <label for="content">Customer: </label>
        <input type="text" name="content" value="" placeholder="<% @customer_entry.content"> 
        <input type="submit" name="" value="Edit Entry">
</form>