SHOW PAGE FOR A CUSTOMER ENTRY

<p><%= @customer_entry.content %></p>

<% if authorized_to_edit?(@customer_entry) %>
<a href="/customer_entries/<%= @customer_entry.id %>/edit">Edit Customer</a>
 
<a href="/customer_entries/id/delete">Delete Customer</a>
<% end %>